body {
}

.tab{
    border-style: solid;
    border-color: black;
    border-radius: 7px;
    margin: 20px 20px 20px 20px;
    background-color: #9E1B34;
    color: white;
}

.tab h1, h2, h3, h4, h5, h6, p{
    font-weight: bold;
    padding: 10px 10px 10px 10px;
}

.tab-content{
    border-top-style: solid;
    border-color: black;
    background-color: white;
    color: black;
}

.tab-content h1, h2, h3, h4, h5, h6, p{
    margin: 0px 20px 0px 20px;
}